body {
    font-family: Segoe UI, Arial, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 80px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    grid-row: span 2;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 13px 0px 120px -30px rgba(255,0,0,1);
    -moz-box-shadow: 13px 0px 120px -30px rgba(255,0,0,1);
    box-shadow: 13px 0px 120px -30px rgba(255,0,0,1);
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0px
}

.sidebar a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #d70000;
}

.content {
    margin-left: 80px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

/* Estilo do botão flutuante - desativado */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #d70000;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    font-size: 24px;
    z-index: 9999;
    cursor: pointer;
}

.create-iframe-button, .layout-button, .delete-iframe-button, .select-iframe-bottom, .config-button, .perfil-button {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: #000000;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    font-size: 24px;
    z-index: 9999;
    cursor: pointer;
    border-color: transparent;
    margin-top: 2px;
    text-align: center;
    background-color: #FFFFFF;
}

.create-iframe-button:hover, .layout-button:hover, .delete-iframe-button:hover, .select-iframe-bottom:hover, .config-button:hover, .perfil-button:hover {
    color: #d70000;
}

.selected {
    border: 2px solid yellow;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}

.btn {
    margin-top: 10px;
}

.floating-button:hover {
    background-color: #d70000;
}

.iframe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content iframe {
    width: 100%;
    height: 100%;
}

.message {
    text-align: center;
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: white;
}

.content-item {
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: transparent;
}

iframe, .iframe, .content-item {
    min-height: 200px;
    max-height: 50vh;

    width: 10%;
    min-width: 50%;
    max-width: 100%;
    background-color: transparent;
}

#div-row {
    overflow: scroll;
    max-height: 100vh;
}

.display-none {
    display: none;
}

.display-grid {
    display: grid;
}

.toast {
    display: block;
    align-items: center;
    margin: 0 auto;
    z-index: 9999999999999999;
    position: absolute; 
}
